#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1em;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.responsive-image {
  width: 100%;
}
